<!DOCTYPE html>
<html lang="en" ng-app="DogAdoptionApp">
<head>
	<meta charset="UTF-8">
	<title>Dog match</title>
	<script type="text/javascript" src="/bower_components/angular/angular.js"></script>
	<script type="text/javascript" src="/bower_components/jquery/dist/jquery.js"></script>
  <script src="/js/main.js"></script>
	<script src="/js/dog_app.js"></script>
	<script type="text/javascript" src="/js/users_controller.js"></script>
  <link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	
	<div class="header"><img src="/images/site_logo.png"></div>

  <% if (message) { %>
      <h3 class="flash"><%= message %></h3>
  <% } %>
  
  <div class="ui two column padded middle aligned grid">
    <div class="two column row">
      <div class="column">
        <form action="/login" method="POST">
          <div class="ui form">
            <div class="field">
              <label>Email</label>
              <div class="ui left icon input">
                <input name="email" type="text" placeholder="Email">
                <i class="user icon"></i>
              </div>
            </div>
            <div class="field">
              <label>Password</label>
              <div class="ui left icon input">
                <input name="password" type="password">
                <i class="lock icon"></i>
              </div>
            </div>
            <button class="ui teal submit button">Login</button>
          </div>
        </form>
      </div>
      <div class="ui vertical divider">
        Or
      </div>
      <div class="center aligned column">
        <div id="new-user-show" class="ui big teal labeled icon button">
          <i class="signup icon"></i>
            Sign Up
        </div>
      </div>
    </div>
  </div>

    <div id="container-new-user" class>
      <div class="modal">
        <form action="/users" method="POST">
          <div class="ui form">
            <div class="field">
              <label>Name</label>
              <div class="ui left icon input">
                <input name="name" type="text" placeholder="Name">
              </div>
            </div>
            <div class="field">
              <label>Email</label>
              <div class="ui left icon input">
                <input name="email" type="text" placeholder="Email">
                <i class="user icon"></i>
              </div>
            </div>
            <div class="field">
              <label for="password">Password</label>
              <div class="ui left icon input">
                <input name="password" type="password" placeholder="Password">
                <i class="lock icon"></i>
              </div>
            </div>
            <div class="field">
              <label for="password_confirm">Password Confirmation</label>
              <div class="ui left icon input">
                <input name="password_confirm" type="password" placeholder="Confirm Password">
                <i class="lock icon"></i>
              </div>
            </div>
            <button id="#close-new-user" class="ui teal submit button">Create Account</button>
          </div>
        </form>
      </div>
    </div>
  
	<div ng-controller="UsersController as users">
    
    

	</div>

 

</body>
</html>